.hero {
    background-image: url('../../assets/hero.png');
    height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
}
.hero__container {

    width: 650px;
    padding: 40px;
    float: right;
    margin-top: 60px;
    /* margin: 10px; */

    border-radius: 40px;
}

.socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 25px;
    top: 450px;


}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.vertical-line {
    width: 2px;

    height: 50px;

    background-color: rgb(255, 255, 255);
}

.social__img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social__img img {
    width: 24px;
    height: 24px;
}

.social__img img:hover {
    cursor: pointer;
    transform: scale(1.3) rotate(-7deg);
}

.get__quote  {
    padding: 8px 12px;
    border-radius: 20px;
    width: 150px;
    font-size: 16px;
    background-color: #30C04F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 80px; */
}

.get__quote_button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__details {
    display: flex;
    gap: 50px;
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.414);
    right: 0;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.section__details p {
display: flex;
flex-direction: column;
align-items: center;
font-size: 18px;
}
/* media query */

@media screen and (max-width: 768px) {
    .hero {
        background-image: url('../../assets/hero.png');
        height: 100vh;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

    .hero__container {

     width: 325px;
     margin-top: 0;
    color: white;
    padding: 20px;
    }

    .section__details {
        flex-direction: column;
        bottom: 0;
        right: 0;
        padding: 2px;
    }
    .section__details p{
     font-size: 12px;
    }
}