.commerce {
  background-image: url('../../assets/comback.png');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.commerce__text {
  margin: 30px;
}

.commerce__text h2 {
  font-size: 30px;
  font-weight: bold;
  color:#f0f0f0;
}

.commerces {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.commerce__card {
  padding: 20px;
  margin: 20px auto;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.commerce__card img {
  width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin: 0 auto 10px;
}

.commerce__cardInfo h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.commerce__cardInfo p {
  font-size: 14px;
  margin-right: 15px;
}

.store {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #137D6F;
  color: white;
}

@media (max-width: 1200px) {
  .commerces {
    max-width: 800px;
  }
}

@media (max-width: 992px) {
  .commerces {
    max-width: 650px;
  }
}

@media (max-width: 768px) {
  .commerces {
    max-width: 100%;
    padding: 0 10px;
  }

  .commerce__card {
    margin: 10px 0;
  }

  
.commerce__text h2 {
  font-size: 20px;
  font-weight: bold;
  color:#f0f0f0;
}
  
}
